.app {
  height: 100vh;
  width: 100vw;
  padding: 1em;
  margin: auto;
}

.firsthalf {
  display: flex;
  width: 98vw;
  height: auto;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.child {
  flex: 1 1 200px;
}

h1 {
  color: rgb(112, 118, 252);
  font-size: 5em;
}

h5,
.aboutusDesc {
  font-size: 1.3em;
  border: 0.1em solid rgb(112, 118, 252);
  border-radius: 0.6em;
  padding: 1em;
  margin: 0.5em;
  flex: 1 1 200px;
}

.technology {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.secondHalf {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.secondHalfCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 24em;
  height: 21em;
  border: 0.1em solid rgb(112, 118, 252);
  border-radius: 0.3em;
  margin: 1em;
  padding: 1em;
}

.aboutus {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 4rem;
}

h4,
h3 {
  margin-top: 1em;
}

.ourClients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.ourClients_logo {
  width: 14em;
  height: 10em;
}

.contactus {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 1em;
  margin-bottom: 5em;
}

.contactus_child,
.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer {
  justify-content: space-around;
}

p {
  font-size: 1.3em;
}
